h1 {
  color: red;
  text-align: center;
}

h1 + p {
  font-size: 18px;
  color: red;
}

.menu {}

.menu a:hover {
  text-decoration: none;
}

.menu a.active {
  color: red;
  text-decoration: none;
}